@import "fonts";
@import "colors";
@import "mixins";

$break: 768px;
$navPaddingBreak: 920px;
$maxCopyWidth: 968px;
$navOutDuration: 0.75s;
$navOutEase: linear;

body {
  background: $white;
  color: $black;
  padding: 0;
  margin: 0;
  text-indent: 0;
  &.nav-open {
    @media (max-width: $break) {
      // mobile scroll fix
      overflow: hidden;
    }
  }
}
ul, li {
  /*Strip the ul of padding and list styling*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}
// all level nav links
.main-nav-l1-link, .main-nav-l2-link {
  text-decoration: none;
}

// nav wrapper
.nav {
  /* global styles */
  padding: 0;
  margin: 0;
  display: block;
  top: 0;
  background-color: $magenta;
  width: 100%;
  z-index: 2;
  padding: 0;
  /* mobile styles */
  position: fixed;
  min-height: 55px;
  @media (min-width:$break) {
    /* desktop styles */
    position: relative;
    min-height: initial;
  }
}

.nav-logo-link {
  /* global styles */
  position: absolute;
  display: block;
  margin-top: 20px;
  margin-left: -100%;
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
    position: relative;
    display: inline-block;
    margin: 23px 24px;
  }

}

.nav-open {
  //-webkit-overflow-scrolling: touch;

  >.nav-logo-link {
     /* global styles */
    /* mobile styles */
    margin-left: 24px;
    @media (min-width:$break) {
      /* desktop styles */
    }
  }
}

.nav-logo-img {
  /* global styles */
  /* mobile styles */
  @media (min-width:$break) {

    /* desktop styles */
   
  }
}

// top level ul
.main-nav-l1-nav {
  /* global styles */
  font-family: 'HUGEAvantGardeBold';  
  font-size: 21px;
  /* mobile styles */
  position: fixed;
  background-color: $white;
  display: block;
  width: 100%;
  height: 100%;
  margin-top: 55px;
  margin-left: -100%;
  // slide-out stuff
  -webkit-transition: $navOutDuration margin-left $navOutEase;
  transition: $navOutDuration margin-left $navOutEase;
  @media (min-width:$break) {
    /* desktop styles */
    position: absolute;
    background-color: transparent;
    display: inline-block;
    width: auto;
    height: auto;
    margin-top: 0;
    margin-left: 0;
  }

}

// top level li
.main-nav-l1-item {
  /* global styles */  
  position: relative;    
  /* mobile styles */
  display: block;
  &:first-child {
    margin-top: 12px; 
  }  
  @media (min-width:$break) {
    /* desktop styles */
    display: inline-block;
    &:first-child {
      margin-top: 0; 
    } 
  }
}

// top level ul open 
.nav-open > .main-nav-l1-nav {
    /* global styles */
    margin-left: -72px; 
    /* mobile styles */
    @media (min-width:$break) {
      /* desktop styles */
      margin-left: 0;
    }
    // top level l1 open
    > .main-nav-l1-item {
      /* global styles */
      margin-left: 72px; 
      /* mobile styles */
      @media (min-width:$break) {
        /* desktop styles */
        margin-left: 0;
      }
    }
}


// top level links
.main-nav-l1-link {
  /* global styles */  
  /* mobile styles */  
  color: $black;
  display: block;
  padding: 12px 24px;
  &:hover {
    background-color: $grey;
  }
  @media (min-width:$break) {
    /* desktop styles */
    color: $white;
    display: inline-block;
    padding: 24px;
    // -- padding fix for small desktop, large tablet
    -webkit-transition: padding .5s;
    transition: padding .5s;
    @media (max-width: $navPaddingBreak) {
        padding-left: 12px;
        padding-right: 12px;    
    }
    &:hover {
      background-color: $white;
      color: $magenta;
    }
    
  }
}
.selected > .main-nav-l1-link {
  /* global styles */
  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
    background-color: $white;
    color: $magenta;
  }
}

// nav arrows for mobile
.has-sub-nav > .main-nav-l1-link:after {
  /* global styles */

  /* mobile styles */
  color: $magenta;
  font-family: 'Galaxie';
  content: '>';
  font-size: 22px;
  font-weight: bold;
  position: absolute;
  right: 24px;
  
  $rotate: 90deg;
  $scale: 1.4;
  -webkit-transform: rotate($rotate) scaleY($scale);
  transform: rotate($rotate) scaleY($scale);
  
  $duration: .2s;
  $ease: ease-in-out;
  -webkit-transition: -webkit-transform $duration $ease;
  transition: transform $duration $ease;

  @media (min-width:$break) {
    /* desktop styles */
    display: none;
  }
}
.selected > .main-nav-l1-link:after {
  $rotate: 270deg;
  $scale: 1.4;
  $transX: 5px;
  $transY: -4px;
  -webkit-transform: rotate($rotate) scaleY($scale) translate($transX, $transY);
  transform: rotate($rotate) scaleY($scale) translate($transX, $transY);
}

.main-nav-l2-nav {
  /* global styles */
  font-family: 'Galaxie';
  font-size: 16px;
  /* set up slide-down */
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.8s;
  transition: max-height 0.8s;
  /* mobile styles */
  width: 100%; // --- here
  @media (min-width:$break) {
    /* desktop styles */
    width: auto;
    position: absolute;
    top: 66px;
    left: 0;
    background-color: $white;
    
  }
}

.selected > .main-nav-l2-nav {
  /* global styles */
  // slide-down
  max-height: 500px;
  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
    background-color: $white;
    top: 66px;
  }
}


.main-nav-l2-item {
  /* global styles */
  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
    &:first-child {
      //margin-top: 12px; 
    } 
  }
}
.main-nav-l2-link {
  /* global styles */
  color: $black;
  display: block;
  line-height: 48px;
  padding: 0 24px;
  &:hover {
      background-color: $grey;
      color: $magenta;
  }
  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
    white-space: nowrap;    
  }
}



// begin expanded nav
.selected {
  /* global styles */
  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
    
  }
}
// end expanded nav
.hero-container {
  /* global styles */  
  @extend %hide-text;
  background-image: url('/images/background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  /* mobile styles */   
  background-position: 0 center;
  position: relative;
  margin-top: 55px;
  height: 240px;


  @media (min-width: $break) {
    /* desktop styles */
    background-position: center center;
    margin-top: 0;
    height: 640px;
    position: absolute;
    z-index: -1;
  }
}
.nav-open > .hero-container {
  @media (max-width: $break) {
    //mobile scroll fix
    overlfow: hidden;
  }
}

.main-content {
  /* global styles */
  width: 100%;
  position: relative;
  /* mobile styles */
  // slide-out stuff 
  -webkit-transition: 1s margin-left;
  transition: 1s margin-left;
  @media (min-width:$break) {
    /* desktop styles */
    -webkit-transition: none;
    transition: none;
    overflow-y: auto;
  }
}
.nav-open > .main-content-wrapper > .main-content {
  /* mobile slide out stuff */
  position: absolute;
  margin-left: 90%;
  overflow: hidden;

  @media (min-width:$break) {
    /* desktop styles */
    position: relative;
    margin-left: 0;
    overflow: auto;
  }
}


.main-content-header {
  /* global styles */  
  font-family: 'HUGEAvantGardeBold';
  padding: 0;
  /* mobile styles */
  margin: 50px 0;
  color: $black;
  font-size: 44px;
  > h1 {
    font-size: 1em;
    text-align: left;
    margin: 0;
    margin-left: 24px;
  }
  @media (min-width:$break) {
    /* desktop styles */ 
    margin: 0 auto;
    color: $white;
    font-size: 120px;
    width: 100%;
    display: table;
    min-height: 640px;
    text-align: center;
    font-size: 120px;
    max-width: 967px;
    > h1 {
      font-size: 1em;
      text-align: center;
      margin: 0 auto;
      display: table-cell;
      vertical-align: middle;
    }
  }

}

.main-content-text {
  /* global styles */  
  font-family: 'Galaxie';
  color: $black;
  background-color: $white;
  width: 100%;
  /* mobile styles */   
  > p {
    margin: 0 24px;
    margin-right: 24px;
    font-size: 14px;
    line-height: 1.8;
  }
  @media (min-width:$break) {
    /* desktop styles */
    padding: 60px 0;
    text-align: center;
    > p {
      margin: 0 auto;
      text-align: left;
      max-width: $maxCopyWidth;
      font-size: 24px;
      line-height: 1.5;
      padding: 0 24px;
    }
  }
  
}

.nav-overlay { 
  /* global styles */
  position: fixed;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $overlay;  
  opacity: 0;
  -webkit-transition: opacity 0.8s ease-out;
  transition: opacity 0.8s ease-out;
  overflow: hidden;

  /* mobile styles */
  @media (min-width:$break) {
    /* desktop styles */
  }
}

.nav-open > .nav-overlay {
  /* global styles */
  /* mobile styles */
  opacity: 1;
  @media (min-width:$break) {
    /* desktop styles */
    opacity: 0;   
  }
}

.subnav-open > .nav-overlay {
  /* global styles */
  /* mobile styles */  
  @media (min-width:$break) {
    /* desktop styles */
    opacity: 1;
  }
}


.nav-burger {
  /* mobile styles */
  z-index: 99;
  cursor: pointer;

  width: 20px;
  
  position: absolute;
  top: 20px;
  margin-left: 0;
  left: 20px;
  
  $slideDuration: 0.4s;
  $slideEase: ease-in-out;
  -webkit-transition-property: left, margin-left;
  -webkit-transition-duration: $slideDuration;
  -webkit-transition-timing-function: $slideEase;
  transition-property: left, margin-left;
  transition-duration: $slideDuration;
  transition-timing-function: $slideEase;

  > span {
    width: 100%;
    height: 3px;
    background-color: $white;
    display: block;
  }
  > .bun {
    $duration: .25s;
    $delay: .15s;
    $ease: ease-in;
    -webkit-transition: -webkit-transform $duration $ease $delay;
    transition: transform $duration $ease $delay;
  }
  > .meat {
    $duration: .15s;
    $delay: .35s;
    $ease: ease-in;
    -webkit-transition: opacity $duration $ease $delay;
    transition: opacity $duration $ease $delay;
    opacity: 1;
    margin: 4px 0;
  }
  
  @media (min-width:$break) {
    /* desktop styles */
    display: none;
  }
}

.nav-open >.nav-burger {
  
  left: 100%;
  margin-left: -40px;

  $bunScale:1.2; 

  > .top {
    $rotate: 133deg; 
    $translateX: 3px; 
    $translateY: -5px; 
    @include rotateBurgerBun($rotate, $translateX, $translateY, $bunScale);
  }
  > .bottom {
    $rotate: 37deg; 
    $translateX: -4px; 
    $translateY: -7px; 
    @include rotateBurgerBun($rotate, $translateX, $translateY, $bunScale);
  }
  > .meat {
    opacity: 0;
  }
}

.touch-scrollable {
    -webkit-overflow-scrolling: touch;
    overflow-y:auto;
}
